{{ attach_library('ws_task/dashboard_js_css') }}
<div class = "dashboard-links">
  <ul>
    <li><a href="tabular-task">Tabular View</a></li>
    <!--<li>Calender View</li>
    <li>Chart View</li>
    <li>Todo List</li>-->
  </ul>
</div>